.page-2{
    background-color: #010101;
    height: 100%;
    padding-top: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-2-width{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-2-img{
    margin-bottom: 5rem;
}