.page-6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    height: 100%;
    padding-top: 5rem;
    color: black;
}

.page-6-width{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-6-width >h1{
    font-size: 70px;
    text-align: center;
    padding-bottom: 1rem;
}

.page-6-width >p{
    font-size: 17px;
    text-align: center;
}

.page-6-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 5rem;;
}

.page-6-pic{
    width: 30%;
}

